<div class='blog post container'>
<div class='layout-row layout-align-center' id="top-banner-blog">
    <div class='flex-90 ' id="top-banner-blog-ann">
            <h1 style=''>{{model.title}}</h1>
            <span style="">{{format-date  model.createdAt start=4 max-length=11}}</span>
       
    </div>
</div>

<div class="layout-row layout-align-center" style="margin:0px 0 150px 0">
    <div class="layout-column" style="position: relative; width: 720px">

        <div class="flex blogText" style="display: block;">



            
                <div class='flex-100 blogImage' style="background-image:url('{{model.imgUrl}}')">
                    {{!<img src={{blog.imgUrl}}
            </div>

                <p>
                    {{{model.text}}}
                </p>

          

        </div>

    </div>


</div>
</div>
