<div class='index__wrapper'>
<div class='index-banner'>


    <div class='portfolio-banner__section'>
        
        <h3>Projects.</h3>
    </div>
    </div>

</div>

<div class='index-card-wrapper'>
<div class='offset-card-background'></div>
    <div class='index-card-section layout-row layout-align-center-center'>
        {{#each model as |card|}}
        <div class='card__area {{card.theme}} layout-column flex'>
            {{!--<h3 class='card__announce'>{{card.sectionTitle}}</h3>--}}
 {{#if card.params}}
 {{#link-to 'portfolio.project' card.name}}
 <div class='card__body'>
                
                   <div class='card__content up'>
                        <img src='{{card.img}}'>
                   </div>
                    <div class='card__content down'>
                        <h4>{{card.contentTitle}}</h4>
                        <p>{{card.shortText}}</p>
                        <span class='{{card.theme}}'>{{card.currentLink}}</span>
                    </div>
                </div>
            
            {{/link-to}}
 {{else}}
 {{#link-to 'portfolio.project' card.name}}
 <div class='card__body'>
                
                   <div class='card__content up'>
                        <img src='{{card.img}}'>
                   </div>
                    <div class='card__content down'>
                        <h4>{{card.contentTitle}}</h4>
                        <p>{{card.shortText}}</p>
                        <span class='{{card.theme}}'>{{card.currentLink}}</span>
                    </div>
               
            </div>
            {{/link-to}}
 {{/if}}
            
            


            {{!--{{#link-to card.state tagName='button'}} {{card.link}} {{/link-to}}--}}
            {{!--<button class='card__follow'>{{card.link}}</button>--}}
        </div>
            {{/each}}
        </div> 

    </div>
            
            {{social-networks}}