
{{#if checkingAuths}}
<div class="layout-row layout-align-center-center" style="margin: 30px 0">
    <div class="flex-80">

        {{#paper-card as |card|}}

            {{#card.title as |title|}}
                {{#title.text as |text|}}
                    {{#text.headline}}
                        Create New Post
                    {{/text.headline}}
                {{/title.text}}
            {{/card.title}}

            {{#card.content}}
                <form onsubmit={{action 'createBlogPost'}}>
                <div class="layout layout-lg-row">
                    {{paper-input class='md-block flex' label="Title" value=title onChange=(action (mut title))}}
                    {{paper-input class='md-block flex' label="Image Link" value=imgUrl onChange=(action (mut imgUrl))}}
                </div>

                <div class="layout layout-lg-row">
                    {{paper-input class='md-block flex hello' textarea=true block=true label="Content" maxlength=1150 passThru=(hash rows=10 maxRows=17)
                                  value=content onChange=(action (mut content))}}
                    {{!--{{textarea value=newPost.text placeholder="Content" rows="10" cols="140"}}--}}
                </div>

                {{#card.actions}}
                    {{#paper-button type='submit'}}Publish{{/paper-button}}
                {{/card.actions}}
                </form>
            {{/card.content}}

        {{/paper-card}}

    </div>
</div>

{{else}}
    
    <div class='flex'><h1>You are not an authorized user </h1></div>

{{/if}}