<div class='index__wrapper'>

{{index-banner}}
{{social-networks}}

{{!--{{#each model as |section|}}
   <div>{{section.title}} {{section.text}} {{section.follow}} projects</div>
{{/each}}--}}
</div>

<div class='index-card-wrapper'>

    <div class='index-card-section'>
        {{#each model as |section|}}
        <div class='card__area'>
            <h3 class='card__announce'>Latest Blog</h3>

            <div class='card__body'>
                <h4>{{section.title}}</h4>
                <ul class='card__content__container'>
                    <p class='card__content up'>{{section.text}}</p>
                    {{!--<div class='card__content down'> </div>       --}}
                </ul>
            </div>

            <button class='card__follow'>{{section.follow}}</button>
        </div>
            {{/each}}
        </div> 

    </div>

