<div class='index__wrapper'>

{{index-banner}}
{{social-networks}}

{{!--{{#each model as |section|}}
   <div>{{section.title}} {{section.text}} {{section.follow}} projects</div>
{{/each}}--}}
</div>

<div class='index-card-wrapper'>
<div class='offset-card-background'></div>
    <div class='index-card-section layout-row layout-align-center-center'>
        {{#each model as |card|}}
        <div class='card__area {{card.theme}} layout-column flex'>
            <h3 class='card__announce'>{{card.sectionTitle}}</h3>

            <div class='card__body'>
                <h4>{{card.contentTitle}}</h4>
                <div class='card__content__container'>
                    <p class='card__content up'>{{card.contentText}}</p>
                    <img src='{{card.img}}'>
                    {{!--<div class='card__content down'> </div>       --}}
                </div>
            </div>


            {{#link-to card.state tagName='button' class=card.theme}} {{card.link}} {{/link-to}}
            {{!--<button class='card__follow'>{{card.link}}</button>--}}
        </div>
            {{/each}}
        </div> 

    </div>

    <div class='blank-bottom'></div>

