<div class='index__wrapper'>

{{index-banner}}
{{social-networks}}

{{!--{{#each model as |section|}}
   <div>{{section.title}} {{section.text}} {{section.follow}} projects</div>
{{/each}}--}}
</div>

<div class='index-card-wrapper'>

    <div class='index-card-section'>
            <h3 class='card__announce'></h3>

            <div class='card__body'>
                <ul class='card__content__container'>
                    <div class='card__content up'></div>
                    <div class='card__content down'> </div>       
                </ul>
            </div>

            <button class='card__follow'></button>
        </div> 

    </div>

</div>